* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 180px;
    background: rgb(205, 210, 255);
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(205,210,255,1) 40%);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.background {
    background: rgb(44, 44, 44);
    border-bottom: 3px double #6a88f8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header {
    max-width: 1280px;
    margin-bottom: 5px;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 155px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "logo title"
        "logo nav"
    ;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: 1;
    margin: 0 auto;

}


.headerA {
    grid-area: logo;
    width: 150px;
    height: 150px;
    align-self: center;
    justify-self: center;

}

.headerLogo {
    padding-left: 2%;
    width: 150px;
    height: 150px;
    align-self: center;
    justify-self: center;
    

}

.headerLogo:hover {
    position: relative;
    top: 2px;
}

.headerLogo:active {
    position: relative;
    top: 1px;
    transform: scale(0.6);
    transition: 0.8s;
}


.headerTitle {
    grid-area: title;
    /*color: rgb(10, 36, 107);*/
    color: #6a88f8;
    padding: 2% 0 2% 2%;
    display: flex;
    align-items: center;

}

.headerTitle h1 {
    font-weight: bold;
    font-size: 32px;
}

.header nav {
    grid-area: nav;
}

.header nav ul {
    list-style-type: none;
    padding-left: 2%;
    display: flex;
    align-items: center;
}

.header nav ul li {
    margin-right: 30px;
    padding: 0;
    text-align: center;

}

.header nav ul li a {
    margin: 0px; 
    display: block; 
    width: 100%; 
    height: 100%;
    font-weight: bold;
    color: white;
}

.header nav ul li a:hover{
    color: #6a88f8;
}

.header nav ul li:hover {
    border-bottom: 1px solid #c0c3cd;;
}

.header nav ul li:active {
    position: relative;
    top: 1px;
}

.bodyContainer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 8px;
}

.myButton {
    box-shadow: inset 0px 0px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #6a88f8 5%, #1e62d0 100%);
    background-color: #6a88f8;
    border-radius: 7px;
    border: 1px solid #6a88f8;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #418dd8;
}

.myButton:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #6a88f8 100%);
    background-color: #6a88f8;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.sectionConfig {
    text-align: justify;
    line-height: 1.5;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    margin-bottom: 16px;
    width: 100%;
    border: 5px groove rgb(192,195,205, 0.75);
    border-radius: 10px 25px 10px 25px;
    border-radius: 30px;
    cursor: pointer;
    
}


.sectionConfig:hover{
    background: #9974ff3f;
}

.seccionSinCuadroCentrado{
    text-align: center;
    line-height: 1.5;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    margin-bottom: 16px;
    width: 100%;
    cursor: pointer;
}

.centrado{
    text-align: center;
}

.derecha{
    text-align: end;
}

.primParraf{
    font-size: 18px;
}

.titleH h2{
    font-weight: bold;
    font-size: 24px;
}

.titleH h3{
    font-weight: bold;
    font-size: 20px;
    padding-top: 50px;
}

.titleHt h3{
    font-weight: bold;
    font-size: 20px;
}
.titleHt h4{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.espaciado{
    margin-top: 25px;
}

.sangria{
    text-indent: 40px;
}

.parrafosPages{
    padding: 0 120px;
}
.parrafosPages p{
    line-height: 2.25;
    text-align: justify;
    justify-content: space-around;
}

.aboutArgFootage p{
    font-weight: bold;
    text-align: center;
    justify-content: space-around;
    font-size: 20px;
}

/*Textos Clases*/
.claseFlexUno{ 
    -webkit-justify-content: flex-end;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    /*display: flex;
    justify-content: end;*/
    text-align: right;
    font-weight: bold;
}
/*Textos Clases*/

.idiomaHisp{
    font-weight: bold;
}

/* mapamundi*/
.imgHispano {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 40%;

}
/* mapamundi*/

label {
    display: inline-block;
    width: 80px;
}

form div {
    padding: 5px;
}
/*Redes Sociales*/
.insta  {
    width: 100%;
    overflow: auto;
    display:flex;
    justify-content: space-around;
    -webkit-overflow-scrolling:touch;
    margin-top: 10px;
}

.videoResponsive {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
      }
.videoResponsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }


/*Redes Sociales*/

.footer {
    background-image: url(../images/vector-buenos-aires.webp);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    border-top: 4px solid black;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    overflow-x: hidden;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}

.footerLogo:hover {
    position: relative;
    top: 1px;
}

.imgFooter{
    display: flex;
    justify-content: center;
}

.footerCopy{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {


    body {
        padding: 0;
    }

    .background{
        position: static;
    }

    .header {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "logo"
            "title"
            "nav"
        ;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        z-index: 1;

    }

    .headerA {
        grid-area: logo;
        width: 90px;
        height: 90px;
    }

    .headerLogo {
        padding-left: 2%;
        width: 90px;
        height: 90px;
    }

    .headerTitle {
        padding:0;
        grid-area: title;
        padding-top: 2%;
        display: flex;
        justify-content: space-around;

    }

    .headerTitle h1 {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }

    .header nav {
        grid-area: nav;
    }

    .header nav ul {
        list-style-type: none;
        padding-left: 1%;
        font-size: 14px;
        display: inline;
        text-align: center;
    }

    .header nav ul li {
        margin-right: 6px;
        margin-bottom: 3px;
        border: 1px solid white;
        border-radius: 8px;
        padding: 0.25%;
        box-sizing: border-box;
        margin: 8px 5px;

    }

    .titleH h2{
        font-size: 20px;
    }
    
    .titleH h3{
        font-size: 16px;
    }

    .titleHt h3{
        font-size: 16px;
    }

    .titleHt h4{
        font-size: 16px;
    }

    .parrafosPages{
        padding: 0 10px;
    }

   .claseFlexUno{
       font-size: 12px;
   }

}

@media screen and (min-width: 1600px) {


    body {
        padding-top: 200px;
    }

    h1{
        font-size: 32px;
    }

    h2{ 
        font-size: 26px;
    }
    a {
        font-size: 20px;
    }
    p{
        font-size: 22px;
    }

    .header nav ul li {
        margin-right: 12px;
    
    }

}
