* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 200px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(48, 180, 197) 50%, rgba(255, 255, 255, 1) 100%);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}